<html>
<head>
	{% block head %}
	<title>{% block title %}meep{% endblock title %}</title>
		
	<link rel="stylesheet" type="text/css" href="/style">
	{% endblock %}	
</head>
<body>
	<h1 class='header'>
		<a class='header' href='/'>
			meep
		</a>
	</h1>
	
	<div class="yellow">
	<ul>
		<li> <a class='menu' href='/add_thread'>new thread</a> </li>
		<li> <a class='menu' href='/list'>show</a> </li>
		<li> <a class='menu' href= '/myaccount'>my account</a></li>
		<li> <a href='/add_user'>new user</a> </li>
		<li> <a class='menu' href='/logout'>log out</a> </li>
	</ul>
	</div>
	
	<div id="main">
		{% block body %}
		{% endblock %}
	</div>
	<div class="footer">
		<div class='black'>
				{% block footer %}
				designed by titus brown and caitlyn pickens</br>
				for comments, email caitlynpickens@gmail.com
				{% endblock %}
		<div>
	</div>
</body>
</html>
