{% extends "base.html" %}

{% block title %}create an account{% endblock title %}

{% block body %}

<div class='main'>
	<h3>create an account:</h3>

	<table border=0>
		<form action='/add_message/' method='POST'> {% csrf_token %}
			{% if form.error_dict %}
			  <p class="error">please correct the errors below.</p>
			{% endif %}
			{% if form.username.errors %}
			  {{ form.username.html_error_list }}
			{% endif %}

			{% if form.password1.errors %}
			  {{ form.password1.html_error_list }}
			{% endif %}

			{% if form.password2.errors %}
			  {{ form.password2.html_error_list }}
			{% endif %}

			<tr>					
				<td><label for="id_username">username:</label></td>
				<td> {{ form.username }}</td>
			</tr>

			<tr>
				<td><label for="id_password1">password:</td>
				<td>{{ form.password1 }}</td>
			</tr>

			<tr>
				<td><label for="id_password2">password (again):</td>
				<td>{{ form.password2 }}</td>
			</tr>
	</table>
	
	<div class="add_user_button">
		<input type="submit" value="submit" />
	</div>
	</form>
	
</div>
	
{% endblock body %}

