{% extends "base.html" %}

{% block body %}

	<div class-"main">
		<table border='0'>
			<tr>
			<td style="padding:0px;" colspan="12"><h3>log in:</h3></td>
			<td style="padding:0px;"><h3>not a member?<h3></td>
			<tr>
		
			<form action='.' method='POST'> {% csrf_token %}
			<tr>
				<td >username:</td>
				<td><input type='text' name='username'></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td colspan="8">create an account <a href='/login/registration/add_user/'>here</a></td>
			</tr>

			<tr>
				<td>password:</td>
				<td><input type='text' name='password'></td>
			</tr>
			
		</table>

		<br/>
		
		<div class="login_button">
			<input type="submit" value="submit" />
		</div>
		</form>
	</div>
{% endblock body %}
