{% extends "base.html" %}

{% block title %}add thread{% endblock title %}

{% block body %}

	<div class='login_cols'>
		<h3>reply:</h3>
	
		<div class='indent'>
			<form action='/reply/' method='POST'> {% csrf_token %}
				{% if form.error_dict %}
				  <p class="error">please correct the errors below.</p>
				{% endif %}
				<div style='margin-bottom:4px;'>					
					{% if form.message.errors %}
					  {{ form.thread.html_error_list }}
					{% endif %}
					<label for="id_message">message:</label> {{ form.message }}
					<label type="hidden" name="parent_id" value="{{ form.parent }}" id="id_parent" />
				</div>
				<input type="submit" value="submit" />
			</form>
		</div>
	</div>
	
{% endblock body %}

